body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 10px;
}

.postcard-header h1 {
	width: 350px;
	margin-top: 25px;
	margin-left: 10px;
	text-align: left;
	font-family: "Handlee";
	font-size: x-large;
	vertical-align: bottom;
}

.postcard-body {
	display: flex;
	height: 180px;
}

.body-left p {
	margin-top: 10px;
	padding-left: 10px;
	font-size: medium;
	font-family: "Handlee";
	font-weight: 500;
}

.body-left {
	width: 50%;
}

.body-right {
	width: 50%;
}

input {
	border: none;
	border-bottom: 1px solid gray;
	height: 27px;
	width: 85%;
	margin-left: 12px;
	font-family: "Handlee";
}

.postcard-footer {
	text-align: center;
}

button {
	margin: none;
	padding: none;
	font-family: "Handlee";
	background-color: rgb(167, 167, 167);
	padding: 5px;
	border: none;
	vertical-align: top;
	font-size: smaller;
}
